@import "bootstrap";

@import "fa/fontawesome.scss";
@import "fa/fa-regular.scss";
@import "fa/fa-solid.scss";
@import "fa/fa-brands.scss";


$bg_a: #f5f5f5;
$bg_b: #f0f0f0;
$bg_c: #c9c9c9;

$gr-1: #2aff97;
$gr-2: #008cbf;
$or-1: #e4870b;
$or-2: #e4480b;


@font-face {
	font-family: 'kanitlight';
	src: url('../fonts/kanit-light-webfont.woff2') format('woff2'),
	url('../fonts/kanit-light-webfont.woff') format('woff'),
	url('../fonts/kanit-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'kanitmedium';
	src: url('../fonts/kanit-medium-webfont.woff2') format('woff2'),
	url('../fonts/kanit-medium-webfont.woff') format('woff'),
	url('../fonts/kanit-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'kanitregular';
	src: url('../fonts/kanit-regular-webfont.woff2') format('woff2'),
	url('../fonts/kanit-regular-webfont.woff') format('woff'),
	url('../fonts/kanit-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

html {
	margin:    0 auto;
	max-width: 1920px;
	height: 100%;
}
body{
	width: 100%;
	min-height: 100vh;
	display: flex;
  flex-direction: column;
	// @extend .d-flex, .flex-column;

}

.db{
	border: solid 1px #F86;
}
*:focus { 
	outline: none;
	box-shadow: none !important;
}



.container{

}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  // font-family: 'kanitlight', sans-serif;
  font-family: 'kanitlight', sans-serif;
  margin-bottom: 0px;
  strong{
  	// font-family: 'cloudbold';
  	font-family: 'kanitmedium';

  	// font-family: 'kanitlight';
  	// font-family: 'quarkbold';
  }
}
h1{
	@extend .mb-2;
}



.hid_xs_down{
	@extend .d-none, .d-sm-block;
}
.hid_md_down{
	@extend .d-none, .d-sm-none, .d-md-block;
}

.triangle{
	background-image: url('../images/TriangleW.png');
	background-size: 100% 100%;
	// display: block;
	height: 26px;
	width: 100%;
	margin:0px;
	padding:0px;

}
.triangle_line{
	@extend .triangle;
	height: 34px;
	background-image: url('../images/TriangleLine.png');
}
.triangle_line_whitetop{
	@extend .triangle;
	height: 34px;
	background-image: url('../images/TriangleLineWtop.png');
}
.triangle_line_trans{
	@extend .triangle;
	height: 34px;
	background-image: url('../images/TriangleLineTrans.png');
}
.triangle_gray{
	@extend .triangle;
	height: 34px;
	background-image: url('../images/TriangleDark.png');
}

.triangle_right{
	// @extend .triangle;
	background-size: 100% 100%;
	height: 100%;
	width: 30px;
	@include media-breakpoint-up(lg) {
		width: 40px;
	}
	margin:0px;
	padding:0px;
	background-image: url('../images/TriangleRight.png');
}

.button{
	// @extend .btn, .btn-primary;
	@extend .btn;
	@extend .px-3;
	@include border-radius(20px);
	&.gr{
		background: linear-gradient(90deg, #2aff97, #008cbf);
	}
	&.or{
		color: #fff;
		background: linear-gradient(90deg, #e4870b, #e4480b);
	}
	&.orup{
		color: #fff;
		background: linear-gradient(180deg, #e4870b, #e4480b);
	}
}
.btn-gray{
	@extend .button;
	background-color: $bg_c;
}
.header{
	text-align: center;
	h1{
		@extend .db;
		@extend .d-inline-block, .px-4, .mt-5, .mb-4;
		@include border-radius(30px);
	}
}

// form{
input{
	&.form-control{
		// @extend .db;
		// @include border-radius(50%);
		@include border-radius(20px);
	}
}
// }
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
button{
	&.btn{	
		@extend .button;
	}
}
input[type=checkbox]{
	height: 15px;
  	width: 15px;
}


.navbar{
	// background-color: #9f0;
	background: linear-gradient(0deg, #fff, #bcbecd);
	min-height: 120px;
	.container{
		// flex-wrap: wrap;
		// @extend .db;
		@include media-breakpoint-down(md) {
			// max-width: 100%;
		}
	}
	.navbar-nav, form.form-inline{
		font-family: 'kanitlight', sans-serif;
		// margin-top: 30px;
		white-space: nowrap;
		@include media-breakpoint-up(md) {
			padding-top: 40px;
			// font-size: 150%;
			input{
				font-size: 100%;
				// width: 180px;
			}
		}

	}
	form{
		@include media-breakpoint-down(md) {
				display: none;
			}
		input{
			padding-right: 35px;
		}
		i{
			margin-left: -40px;
			color: $primary;
		}
	}
	.navbar-brand{
		width: 124px;
		height: 110px;
		background-image: url('../images/CeeGadget.svg');
		background-size: cover;
		@include media-breakpoint-down(md) {
			// margin-bottom: -40px;
		}
		@include media-breakpoint-up(md) {
			margin-bottom: -40px;
		}
		@include media-breakpoint-down(sm) {
			// margin-bottom: -40px;
		}

		// position: absolute;
		// margin-top: 50px;
	}
	.nav_right{
		@include media-breakpoint-down(sm) {
			flex-direction: row;
		}
	}
	.icon_cart{
	// height: 20px;
	// width: 20px;
	// border: 1px solid #f07;
	img{
		width: 60px;
		height: 60px;
	}
		.label_cart{
			@extend .border, .border-primary, .px-2;
			@include border-radius(20px);
			position: absolute;
			margin-left: 35px;
			background-color: #fff;
			// right: 0;
			// float: right;
		}
	}
	.icon_user{
		span{
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		@extend .mx-2;
		margin-top: 20px;
		// position: absolute;
		// float: right;
		a{
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.jumbotron{
	// padding: 120px 0px 0px 0px;
	// display: table-cell;
	@extend .d-flex, .justify-content-center, .align-items-end;
	margin-top: -30px;
	padding: 6rem 0 0 0;
	text-align: center;
	background-color: #142735;
	// background-image: url('../images/cover-01.jpg');
	background-size: cover;
	background-position: center center;
	min-height: 520px;
	@include media-breakpoint-down(sm) {
		min-height: 300px;
		background-position: center 30px;
	}
	img{
		height: 240px;
	}
	h1{
		@include media-breakpoint-up(md) {
			margin-bottom: 50px;
			border: 2px solid #e7520e;
			padding: .5rem 1.5rem;
		}
		@include media-breakpoint-down(sm) {
			border: 2px solid #e7520e;
			margin-bottom: 20px;
			font-size: 150%;
			padding: 0.25rem .5rem;
		}
		strong{
			color: #e7520e;
		}
	}
}

#carouselA.carousel{
	.carousel-control-prev, .carousel-control-next {
		width: 10%;
		color: #000;
		&:hover{
			color: #666;
		}
	}
	.carousel-control-prev{
		// align-items: left;
		justify-content: flex-start;
	}
	.carousel-control-next {
		justify-content: flex-end;
	}
	.carousel-inner{
	
	// min-height: 300px;
	width: 90%;
	margin-left: 5%;
	.carousel-item{
		.row{
			padding: 0px;
			.col{
				text-align: center;
			}
			[class*="col-"]{
					// @extend .db;
				}
			}
			img{
				// width: 100px;
				max-width: 100%;
			}
		}
	}
}

	#carouselB.carousel{
		.overlay_top{
			@extend .triangle;
			z-index: 100;
			position: absolute;
		// background-position: center bottom;
	}
	.overlay_bottom{
		@extend .triangle_line;
		position: absolute;
		z-index: 120;
		margin-top: -20px;

	}
	.carousel-control-prev, .carousel-control-next {
		width: 7%;
	}
	.carousel-inner{
		.carousel-item{
			height: 320px;
			@include media-breakpoint-down(md) {
				height: 200px;
			}
			// display: flex;
			background-size: cover;
			background-position: center center;
			padding: 30px 50px 20px 50px;
			color: #FFF;
			div{
				width: 40%;
				margin: 0;
				&.intro_center{
					margin: 0 auto;
					text-align: center;
				}
				
				&.intro_right{
					margin: 0 0 auto auto;
					text-align: right;
				}

			}
		}
	}
}
.shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, .2);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, .2);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.productthumbnails{
	.row{
		.col{
			@extend .shadow;
			@extend .m-3, .p-2;
			// @extend .justify-content-center;
			@include border-radius(10px);
			text-align: center;
			img{
				max-width: 100%;
				// height: 200px;
				display: block;
			}
			/* .blockbtn{
				@extend .btn-block;
			} */
			button{
				@extend .button, .btn-sm, .btn-primary;
				border:none;
				@include media-breakpoint-down(md) {
					display: inline-block;
					margin: 2px 0px;
					width: 90%;
				}
			}
			.label_product{
				@extend .border-primary;

				/* @include border-radius(40px);
				height: 42px;
				border: solid 2px $primary;
				line-height: 40px; */
				// font-size: 80%;
				// @include media-breakpoint-down(md) {
					@include border-radius(48px);
					height: 48px;
					min-width: 48px;
					border: solid 2px $primary;
					line-height: 44px;
					font-size: 80%;
				// }
				font-weight: bold;
				position: absolute;
				// width: 40px;
				text-align: center;
				padding: 0px 4px;
				overflow: auto;
				margin-top: -30px;
				margin-left: 5px;
				background-color: #fff;
			}
			.stars{
				display: flex;
				float: right;
				@extend .mb-2;
				i{
					@extend .fa-xs;
					color: $primary;
				}
			}
		}
	}
}

main{
	// min-height: 100vh;
	// margin-bottom: -200px;
	// @extend .db;
	flex: 1 0 auto;
	padding-top: 120px;
	// @extend .pt-5;
}

footer{
	@extend .mt-5;
	font-size: 80%;
	color: $secondary;
	text-align: center;

	// margin-top: 200px;
	// height: 270px;
	// flex: 1;
	// @extend .footer, .navbar-fixed-bottom;
	// position: absolute;
  	// bottom: 0;
  	// width: 100%;
	// position: absolute;
  	// bottom: 0;
  	// @extend .d-flex, .align-items-stretch;
	.row{
	@extend .align-items-stretch;
	// height: 200px;
		.col{
			// height: 200px;
			// @extend .db;
			// @extend .d-flex, .flex-column, .justify-content-center, .align-items-center;
			@extend .py-4;
			@include media-breakpoint-down(xs) {
			min-width: 200px;
				// display: block;
			}

			background-color: $bg_a;
			&.bg_2{
				background-color: $bg_b;
			}
			p{
				// @extend .mb-0;
			}
			a{
				color: $secondary;
			}
			>div{
				i{
					// @extend .fa-lg, .mx-1;
					@extend .fa-2x, .mx-1;
				}
				form{
					text-align: center;
					input{
						@extend .form-control, .form-control-sm;
						@extend .form-control, .mx-auto;
						max-width: 200px;
					}
				}
			}
		}
	}
	.overlay_bottom{
		@extend .triangle_gray;
		// position: absolute;
		z-index: 120;
		margin-top: -20px;

	}
}
.breadcrumb{
	@extend .p-0, .my-4;
	background: none;
	color: $secondary;
	li{
		i{
			@extend .fas, .fa-chevron-right, .mx-1;
		}
	}
}
.social{
	.addthis_inline_share_toolbox{
		// @extend .db;
	}
}



.product{
	min-height: 400px;
	@include media-breakpoint-up(lg) {
		min-height: 540px;
	}
	// .col, [class*="col-"]{
	@include media-breakpoint-down(xs) {
		display: block;
	}

	.col{
		@include media-breakpoint-down(xs) {
			// display: block;
			// flex-grow:1;
			// border: solid 4px #f09;
		}
		&.grad_right{
			background: linear-gradient(-90deg, #fff, #e8e8e8);
		}
		.stars{
			@extend .p-4, .mr-0, .d-inline-block;
			position: absolute;
			right: 0;
			// float: right;
			// text-align: right;
			color: $primary;
		}
		@extend .px-0;
		.overlay_right{
			@extend .triangle_right;
			// clear: both;
			height: 100%;
		}
		img{
			max-width: 100%;
			float: none;
		}
		p{
			@extend .pl-4;
			color: $secondary;
		}
		.thumbnails{
			@extend .pl-4;
			img{
				@extend .ml-0, .mr-1, .mb-1;
				border: 1px solid $bg_b;
				height: 60px;
			}
		}
		div.product_ui{
			// clear: both;
			@extend .p-4, .pl-5;
			position: absolute;
			@include media-breakpoint-down(xs) {
				position: relative;
				padding-left: 1.25rem !important;
			}
			width: 100%;
			h1{
				@extend .my-2;
				font-size: 300%;
				color: $primary;
			}
			span{
				color: $primary;
			}
			.row{
				@extend .ml-2, .mt-4;
				div{
					// @extend .db;
					@extend .pl-0;
					button{
							@extend .button, .btn-block,.btn-light;
							@extend .my-3;
							border:1px solid $or_1;
							// background-color: #fff;
						&.grborder{
							// background: none;
							// background-color: #fff;
							border:1px solid $gr_1;	
						}
						img{
							position: absolute;
							height: 40px;
							margin-top: -8px;
							right:-6px;
						}
						&.addcart{
							@extend .mt-5, .btn-lg, .btn-primary;
							@include border-radius(25px);
							background: linear-gradient(90deg, #e4870b, #e4480b);
							img{
								height: 50px;
								margin-top: -30px;
								right:-10px;
							}
						}
					}
					&.price{
						@extend .p-1;
						line-height: 1rem;
						text-align: right;
						h1{
							@extend .py-0, .my-0;
						}
						span{
							font-weight: bold;
						}
					}
					table tr td{
						@extend .py-1, .pr-2;
						line-height: 30px;
						// white-space: nowrap;
						.input-group{
							width: 100px;
						}
						.form-control{
							@extend .text-center;
							background-color: #fff;
							// @include border-radius(48px);
							// border-radius: 1rem;
						}
						.input-group-addon{
							@extend .px-2;
							cursor: pointer;
							// @extend .form-control-sm;
						}
						&.total{
							@extend .h4;
							color: $primary;
						}
					}
				}
			}
		}
	}
}

.comments{
	div{
		flex-grow:1;
		&.img{
		width: 120px;
		flex-basis:auto;
		flex-grow:0;
		}
		.stars{
			color: $primary;
			float: right;
			// position: absolute;
			// right: 0;
			i{
				@extend .fa-xs;
			}
		}
		border-bottom: 1px solid $bg_a;
		&.col{
			@extend .py-2;
		}
	}
	img{
		max-width: 100%;
		border-radius:50%;
	}
	p{
		@extend .mb-1;
		font-size: 90%;
		&.lead{
			font-size: 100%;
		}
	}
}

.recommend{
	@extend .my-3;
	background-color: $bg_a;
	h3{
		@extend .my-2;
	}
	.btn-group{
		// @extend .db;
		// @extend .px-0;
		// width: 30px;
		float: right;
		text-align: right;
		margin-right: -20px;
		.carousel-control-prev, .carousel-control-next{
			@extend .btn;
			color: $secondary;
			position: relative;
		}
	}
	.carousel{
		width: 100%;
		@extend .mx-3, .mb-1;

		.carousel-inner{
			// width: 100%;
			.carousel-item{
				.row{
					padding: 0px;
					.col{
						text-align: center;
					}
					[class*="col-"]{
					// @extend .db;
				}
			}
			img{
				max-width: 100%;
			}
			.card-deck{
				.card{
					@extend .text-center, .border-light;
					margin: 0 0 $spacer 0;
					p small{
						color: $primary;
					}
					button{
						@extend .button, .btn-sm;
					}

					}
				}
			}
		}
	}
}

.arrow{
		@extend .justify-content-center;
	.col{
		&.center{
			@extend .mx-0, .px-0;
			background: linear-gradient(0deg, #fff, #e8e8e8);
			flex:4;
			.overlay_top{
				@extend .triangle_line_whitetop;
			}
			.overlay_trans{
				@extend .triangle_line_trans, .my-4;
				height: 28px;
			}
			.content{
				@extend .p-5;
			}
		}
	}
}
.profile{

}

